<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nyx2k</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
	    <img src="{{ url_for('static', filename='images/mylogo1.jpg')}}">
        <div class="tagline"> Networking // Linux // sysadmin </div>
    </header>

 <section id="me">
    <section id="about">
        <div class="window-titlebar">
            <span class="window-title">about.txt — nyx2k</span>
            <div class="window-buttons">
                <div class="window-btn">_</div>
                <div class="window-btn">□</div>
                <div class="window-btn">×</div>
            </div>
        </div>
        <div class="window-menubar">File &nbsp; Edit &nbsp; View &nbsp; Help</div>
        <div class="window-body">
            <div class="window-content">
                <pre>
                I'm 31 years old, from the Dolomites in Italy.

                I developed an interest in technology since i was
                a little boy, but life redirected me into hospitality.
                After a decade in it, i decided to shift my life.

                Studying solo in my free time, i developed a strong passion 
                for networking, Linux and systems administration.
                I've built several IoT devices, few gaming PC, a self-hosted 
                Linux server on a Raspberry Pi 5,
                learning something new everday.

                I will bring strong teamwork ability, flexibility, determination,
                and a happy face is always included.

                In my free time i like to enjoy nature, i love to swim
                and see all the colors in life. But honestly, i'm in front of the screen
                testing new things, ideas or whatever is in my mind.

                Check out my GitHub account to see what iv`e build so far.

                Thank you for reading!

                <a href="https://github.com/Niyx95" target="_blank">>>> github.com/Niyx95</a>
                
                <a href="https://www.linkedin.com/in/nikolasdagai/" target="_blank">>>> linkedin.com/nikolasdagai</a>
            </pre>
            </div>
            <div class="window-photo">
		    <img src="{{ url_for('static', filename='images/me.jpg')}}">
            </div>
        </div>
    </section>
</section>
    <footer>
        <br>
        <pre>
            This site is under development 
        </pre>
    </footer>
</body>
</html>
